b, strong {
    color: #F06868;
    }

.button {
    border-radius: 10px;
}

.red {
    background-color: #F06868;
    padding: 10px;
    color: rgb(255, 255, 255, .9);
}

.red:hover {
    color: rgb(255, 255, 255, 1);
    font-weight: bolder;
}

.secondary {
    border: 2px solid #F06868;
    background-color: white;
    color: rgb(0, 0, 0, .9)
}

.secondary:hover{
    border: 2px solid #F06868;
    background-color: white;
    color: rgb(0, 0, 0, 1);
}

p a {
    box-shadow: 0 3px 0 rgb(240, 104, 104);
}

p a:hover {
    background-color: rgb(240, 104, 104, 0.5);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.senja-embed {
    padding: 30px;
}

.wall-of-love h2 {
    padding-top: 20px;
}

.button-subtext {
    font-size: 10px;
}